.left-rec {
    position: absolute;
    width: 378px;
    height: 555px;
    left: calc(50% - 378px/2 - 411px);
    top: calc(50% - 555px/2 + 66px);
    background: rgba(240, 111, 105, 0.5);
}

.center-rec{
    position: absolute;
    width: 378px;
    height: 555px;
    left: calc(50% - 378px/2);
    top: calc(50% - 555px/2 + 66px);
    background: #D4E8BA;
}

.right-rec{
    position: absolute;
    width: 378px;
    height: 555px;
    left: calc(50% - 378px/2 + 411px);
    top: calc(50% - 555px/2 + 66px);
    background: rgba(254, 199, 82, 0.5);
}

.left-img {
    position: absolute;
    width: 300px;
    height: 437.58px;
    left: 39px;
    top: 0;
    background-image: url("../images/left-img.png");
    background-size: cover;
}
.center-img {
    position: absolute;
    width: 300px;
    height: 437.58px;
    left: 10px;
    top: 0;
    background-image: url("../images/center-img.png");
    background-size: cover;


}
.right-img {
    position: absolute;
    width: 300px;
    height: 437.58px;
    left: 39px;
    top: 0;
    background-image: url("../images/right-img.png");
    background-size: cover;
}

.left-text {
    position: absolute;
    width: 306px;
    height: 36px;
    left: calc(50% - 306px/2 - 411px);
    top: calc(50% - 36px/2 + 259.5px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    color: #000000;


}
.center-text {
    position: absolute;
    width: 187px;
    height: 36px;
    left: calc(50% - 187px/2 + 5.5px);
    top: calc(50% - 36px/2 + 259.5px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.right-text {
    position: absolute;
    width: 236px;
    height: 36px;
    left: calc(50% - 236px/2 + 411px);
    top: calc(50% - 36px/2 + 259.5px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}


