.body{
    background-color: #D4E8BA;
}
.formtable {
    position: absolute;
    width: 800px;
    height: 490px;
    left: calc(50% - 400px);
    top: calc(50% - 245px);
    background: #FFFFFF;
}

.label {
    text-align: center;
    padding-right: 80px;
    padding-left: 80px;
}

.control {
    width: 250px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    font-size: 14px;
    color: red;
    margin-left: 10px;
}

.existError{
        position: absolute;
        width: 500px;
        height: 36px;
        left: calc(50% - 500px);
        top: 145px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
        text-align: center;

        color: #2B2F5C;
}

input[type=submit] {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #FFE3A8;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type=submit]:hover {
    background-color: #ffb616;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}