/* menubar.css */
.a{
    text-decoration: none;
}
.menubar{
    position: absolute;
    width: 1469.92px;
    height: 122px;
    left: 0px;
    top: 0px;
    background: #BBC2E1;
}

.rectangle3{
    position: absolute;
    width: 197.84px;
    height: 62px;
    left: 1254.91px;
    top: 30px;
    background: #EF7069;
    border-radius: 10px;
}

.login_text{
    position: absolute;
    width: 186.34px;
    height: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: white;
}
.main-link{
    position: absolute;
    width: 1470px;
    height: 65.85px;
    left: 0px;
    top: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: #2B2F5C;
}

.error-msg{
    color: red;
        position: absolute;
        width: 500px;
        height: 36px;
        left: 19px;
        top: 160px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 20px;
}