/* offers.css */
.username{
    position: absolute;
    width: 500px;
    height: 36px;
    left: 19px;
    top: 151px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25px;
    line-height: 117px;
    color: #000000;
}

.offerTable{
    position: absolute;
    width: 1180px;
    height: 428px;
    left: calc(50% - 1180px/2 + 0.5px);
    top: calc(50% - 428px/2 + 82px);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #000000;
}

.description{
    position: absolute;
    width: 320px;
    height: 36px;
    left: 19px;
    top: 151px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25px;
    line-height: 117px;
    text-align: center;
    color: #000000;
}

.tbody-td {
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}

.tbody-tr{
    background-color: #FFE3A8;
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 25px;
}

.detail-link{
    color: #EF7069;
}

.oc-thead-tr{
    background-color: #D4E8BA;
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 30px;
}

.oc-tbody-td{
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    background-color: #FFE3A8;
}


