.username{
    /* ##님의 학년별 이수 학점 */

    position: absolute;
    width: 500px;
    height: 36px;
    left: 19px;
    top: 151px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;

    color: #000000;


}
.offerTable{
    position: absolute;
    width: 1171px;
    height: 428px;
    left: calc(50% - 1171px/2 + 0.5px);
    top: calc(50% - 428px/2 + 82px);
}
.description{
    position: absolute;
    width: 320px;
    height: 36px;
    left: 19px;
    top: 151px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}

.thead-tr {
    background-color: #D4E8BA;
}
.oc-thead-tr{
    background-color: #D4E8BA;
}
.th {
    width: 150px;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 30px;
}

.oc-th{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 30px;
}

.tbody-td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}

.oc-tbody-td{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}

.oc-tbody{
    background-color: #FFE3A8;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}
.content{
    width: 300px;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}

.tbody-tr{
    background-color: #FFE3A8;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 30px;
}

.detail-link{
    color: #EF7069;
}